# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\2-1\CSE204 - (Sessional) Algorithms and Data Structure\offline4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
